src/work
src/test/proj/*.meta
src/test/proj/*.lua
src/test/proj/depends/*.d
src/test/start.lua
src/test/glueTest*.so
src.bak
src/lune/*.meta
src/lune/base/*.meta
src/legacy/lua51/lune/*.meta
src/legacy/lua51/lune/base/*.meta
*main-1.src.rock
src/mini*
*~
src/lune/base/runtime_go/lua_link
src/*.meta
src/*.lua
src/lune/base/*.lua
src/test/tutorial/*.c
src/test/tutorial/*.h
src/test/tutorial/*.lua
hoge.*
src/lune/base/runtime_go/*.lua
