src/work
src/test/proj/*.meta
src/test/proj/*.lua
src/test/proj/depends/*.d
src/test/start.lua
src/test/glueTest*.so
src.bak
src/lune/*.meta
src/lune/base/*.meta
src/lune/base/runtime_go/legacy/lua51/lune/base/*.meta
*main-1.src.rock
src/mini*
*~
src/lune/base/runtime_go/lua_link
src/*.meta
src/*.lua
src/test/tutorial/*.c
src/test/tutorial/*.h
src/test/tutorial/*.lua
hoge.*
*.exe
*.so
src/lune/base/runtime_go/*.lua
*.profi
@-.*
lnstags.sqlite3
tools/formatter/prof*
tools/formatter/formatter